/* body */
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* -webkit-user-select: none; */
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
   
}
/* ------------------
      preloader
---------------- */
.loader-bg{
    position: fixed;
    z-index: 999999;
    background: #0E1E25;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 70px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #fff;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
} 
.loader:before{
    animation-delay: .5s;
}
@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

/*------------------------
    this is header
-------------------*/
header{

    background-image: url(images/Website\ background.jpg);
    height: auto;
    background-size: cover;
}

/* offcanvas */
.offcanvas-body{
    margin-top: 50%;
}
.offcanvas-body a{
    color: #848386 !important;
}
.offcanvas-body a:hover{
    color: #fff !important;
    transition: 0.5s;
}
.contact-btn{
    border: none;
    padding: 10px 56px;
    background-color: #848386 !important;
}
.contact-btn:hover{
    background-color: #fff !important;
    transition: 0.5s;
}

/*  Navbar */

.first-button{
    padding: 0px 25px;
    background-color: #33313B;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    height: 90px;
    padding-top: 15px;
    margin-top: 0;
}
nav li{
    margin-left: 30px;
}
a{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.904) !important;
    font-family: 'Poppins', sans-serif;
}

.second-button{
    background-color: #F9AB30;
    padding: 14px 20px;
    border: none;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.second-button , a {
    text-decoration: none;
  
}
/* Audio */
.audio-play-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F9AB30;
    left: 50%;
    top: 30%;   
}

.fa-play{
    font-size: 15px;
    color: #fff !important;
    transition-timing-function: linear;
    animation: audio 8s infinite;
}
/* audio animation */
@keyframes audio {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(3600deg);
    }
}
.header-text{
    margin-top: 15%;
}
.header-text > p{
    color: #fff;
}
.header-text > h1{
    font-size: 3.5rem;
    letter-spacing: 4px;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Courgette', cursive;
}
.details{
height: 100px;
width: 64%;
background-color: #33323C;
align-items: center;
margin: 0 auto;
line-height: 35px;
margin-top: 16.3%;
}
.search-btn{
padding: 8px 45px;
border: none;
border-radius: 25px;
background-color: #F9AB30;
font-family: 'Poppins', sans-serif;
font-weight: 600;
/* margin-left: 100px; */
/* margin-left: 15%; */

}
label{
    font-size: 20px;
    color: #D5D6D8;
}
input{
    background-color: #33323C;
    border: none;
    color: #5D5B64;
}
select{
    background-color: #33313B;
    border: none;
    color: #6c6a74;
}
.fas{
    color: #5D5B64;
}
.fal{
    color: #5D5B64;
}
.date{
    color: #5D5B64;   
}

/*------------------------
   main section design
----------------------*/
/* second section */
 .second-section{
    /* margin-top: 120px; */
    /* display: flex; */
    justify-content: center;
  
}
.row  i{
font-size: 50px;
color: #F9B343;
}
.row h6{
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
    /* width: auto; */
    /* display: inline; */
}
.second-section p{
width: 250px;
font-size: 18px;
color: #919599; 
margin-top: 15px;
}

.second-section-right-text > h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    margin-left: 30px;
}
.second-section-right-text > p{
width: 507px !important;
font-size: 20px ;
/* margin-top: 30px; */
margin-left: 30px;
text-align: justify;


} 
.search-btn-second{
    padding: 18px 35px;
    border: none;
    border-radius: 40px;
    background-color: #F9AB30;
    margin-top: 10px;
    margin-left: 30px;
}
/* management */
.management-details{
margin-top: 170px;
}
.management-details  h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    
}
.management-details p{
    width: 507px;
    font-size: 20px ;
    margin-top: 30px;
    text-align: justify;
    color: #919599;
}
.management-details img{
margin-right: 0px;
}
.counting{
grid-template-columns: repeat(3, 200px);
}
.counting span{
    font-size: 20px;
    color: #6a6e72;
}
.counting h2{
    margin-left: 50px;
    color: #F9AB30;
}
/* scroll bar */

.scroll-icon{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #F9AB30;
    display: flex;
    align-items: center;
    top: 40%;
    left: 97%;
    z-index: 1; 
}
.scroll-icon-second{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #F9AB30;
    display: flex;
    align-items: center;
    top: 50%;
    left: 97%;
    z-index: 1;
}

.scroll-icon i{
color: #000000;
font-size: 25px;
margin: 0 auto;
transform: rotate(180deg);
}
.scroll-icon-second i{
color: #000000;
font-size: 25px;
margin: 0 auto;
}
/* destination */

.best-place{
    grid-template-columns: repeat(4, 18.2rem);
    justify-content: center;
}
.best-place img{
    border-radius: 5px;
    margin-top: 50px;
}
.destination-section > h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.country-1{
    color: #fff;
    position: absolute;
    top: 27%;
    left: 20.1%;
}
.country-2{
    color: #fff;
    position: absolute;
    top: 27%;
    left: 35.4%;
}
.country-3{
    color: #fff;
    position: absolute;
    top: 27%;
    left: 50.7%;
}
.country-4{
    color: #fff;
    position: absolute;
    top: 27%;
    left: 66.2%;
}
.tours-count{
    position: absolute;
    top: 85%;
    left: 28.25%;
    border: none;
    padding: 5px 17px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #46444d;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
    display: block;
}
.tours-count-second{
    position: absolute;
    top: 85%;
    left: 43.55%;
    border: none;
    padding: 5px 17px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #46444d;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}
.tours-count-third{
    position: absolute;
    top: 85%;
    left: 58.90%;
    border: none;
    padding: 5px 17px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #46444d;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}
.tours-count-fourth{
    position: absolute;
    top: 85%;
    left: 74.20%;
    border: none;
    padding: 5px 17px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #46444d;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}
.our-destination:hover .tours-count{
    background-color: #F9AB30;
}
.our-destination:hover .tours-count-second{
    background-color: #F9AB30;
}
.our-destination:hover .tours-count-third{
    background-color: #F9AB30;
}
.our-destination:hover .tours-count-fourth{
    background-color: #F9AB30;
}

.package-icon  i{
    font-size: 20px;
    color: #F9AB30;
}
.package-icon > span{
    font-size: 18px;
}
/* our-tour-destination */
.tour-info{
    grid-template-columns: repeat(3, 24.3rem);
    row-gap: 40px;
    margin-top: 55px;
}
.our-tour-destination> h1{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.tour-details-btn{
    padding: 10px;
    width: 130px;
    font-size: 18px;
    background-color: #F9B343;
    border: none;
    border-radius: 25px;
    color: #fff;
    position: absolute;
    top: 51.5%;
    left: 31%;
    padding: 0 auto;
    font-weight: 500;
    transition: 0.5s;
}
.card:hover .tour-details-btn{
    background-color: #33313B;
}
.our-tour-destination{
    margin-top: 120px;
}
/* tourist feedback*/

.tourist-feedback{
    background-image: url("images/background\ image.jpg"); 
    height: auto;
    margin-top: 140px;
}
.tourist-feedback > h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
}
.client-says{
background-color: whitesmoke;
width: 370px;
padding: 24px 20px;
border-radius: 5px;
margin-right: 50px;
height: 280px;
margin-top: 60px;
margin-bottom: 150px;
}
.client-says > p{
    width: 300px;
    color: #919599;
    font-size: 18px;
    text-align: start;
    font-family: 'Poppins', sans-serif;
}
.client-says > aside{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.client-says  p{
    color: #919599;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;

}
.client-says h3{
    font-size: 23px;
    margin-left: 10px;
    font-weight: 500;
}
/* ----------------
    blog section
--------------- */
.blog-section{
/* display: flex;
justify-content: center; */
column-gap: 50px;
margin-top: 50px;
}
.blog-date{
    display: flex;
    flex-wrap: wrap;
    width: 165px;
    height: auto;
    background-color:#F9AB31;
    position: absolute;
    padding: 5px;
    top: 49.95%;
    color: white;
    border-top-right-radius: 45px;
}
.blog-date > h1{
font-size: 3.2rem;
font-weight: 300;
}
.blog-section h3{
width: 23.75rem;
font-weight: bold;
color: #000000;
}
.blog-section h3:hover{
    color: #F9AB30;
    transition: 0.5s;
    /* display: inline-block; */
}
.blog-title{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
}
/*----------------
    Footer
-------------*/
footer{
background-image: url(images/background\ image3.jpg);
    height: 500px;
    margin-top: 130px;
}
footer h3{
    margin-top: 120px;
    font-size: 23px;
    color: whitesmoke;
}
footer p{
    margin-top: 40px;
    font-size: 20px;
    color: rgb(168, 146, 146) 
}
footer aside{
    padding-top: 30px;
    font-size: 25px;
}
footer aside a{
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    color: rgb(168, 146, 146) !important;
    
}
footer aside a:hover{
    color: whitesmoke !important;
    transition: 0.5s;
}
footer p:hover{
    color: whitesmoke;
    transition: 0.5s;
}
.contact-icon i{
font-size: 35px;

}

hr{
    color: whitesmoke;
}

/*--------------------
    Media Query
---------------*/
@media (max-width:688px) {
    header{
        height: 100%;
        /* position: relative; */
    }
    .side-navbar{
        position: absolute;
        top: 120%;
        left: 2%;
    }
    .navbar-toggler{
        margin-right: 5% !important;
        background-color: #fff;
    }
    .header-text{
        margin-top: 70%;
    }
    .second-section-right-text h1{
        margin-left: 5px;
    }
    .second-section-right-text p{
        margin-left: 5px;
    }
    .second-section .row{
        margin-top: 30px !important;
    }
    .search-btn-second{
        margin-left: 5px;
    }
    header h1{
        font-size: 40px !important;
        margin-top: 1.5rem;
    }
    h1{
        font-size: 30px !important;
    }
    .audio-play-icon{
     display: flex;
      top: 30%;
      left: 45%;
    }
    .details{
        padding: 20px;
        height: auto;
        width: 70%;
        background-color: #33323C;
        line-height: 35px;
        margin-top: 45%;
        padding-left: 40px;
    }
    .search-btn{
        padding: 2px 50px;
        margin-top: 20px;
    
    }
    .scroll-icon, .scroll-icon-second{
        display: none;
    }
    .tour-details br{
        display: none;
    }
    .second-section p{
        width: 100%;
    }
    .second-section-right-text  p{
        width: 90% !important;
    }
    .blog-section img{
        width: 90%;
    }
    .management-details p{
        width: 90%;
    }
    .management-details{
        margin-top: 80px;
    
    }
    .counting{
     margin-left: 25%;   
    }
    .tour-details{
        margin-left: 1.9%;
    }
    .best-place{
        padding-top: 0;
    }
    .best-place img{
        margin-top: 35px;
       margin-left: 15%;
    }
    .country-1{
        color: #fff;
        top: 6.3%;
        left: 17.5%;
    }
    .country-2{
        color: #fff;
        top: 30.75%;
        left: 17.5%;
    }
    .country-3{
        color: #fff;
        top: 55%;
        left: 17.5%;
    }
    .country-4{
        color: #fff;
        top: 79%;
        left: 17.5%;
    }
   .tours-count{
        top: 23%;
        left: 55.80%;
    }
    .tours-count-second{
        top: 47%;
        left: 55.80%;
    }
    .tours-count-third{
        top: 71.70%;
        left: 55.80%;
    }
    .tours-count-fourth{
        top: 95.8%;
        left: 55.80%;
    }
    .our-tour-destination{
        margin-top: 70px;
    }
    .card{
        margin-bottom: 40px;
        margin-left: 4.5%;
    }
    .tourist-feedback > h1{
       padding-top: 0;
    }
    .tourist-feedback{
        margin-top: 80px;
    }
    .client-says{
        margin-bottom: 0;
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blog-title{
        margin-top: 0 !important;
    }
   .blog-section{
       margin-left: 7%;
    }
   .blog-section img{
       height: 250px !important;
    }
   .blog-date{
    width: 135px;
    padding: 0px;
    height: 60px;
    top: 45.6%;
    color: white;
    border-top-right-radius: 35px;
    }
   .blog-date > h1{
    font-size: 2rem !important;
    margin-top: 10px;
    }
   .blog-section h3{
    width: 20rem;
    }  
   .blog-section p{
    width: 19rem !important;
    text-align: justify;
    }
/* foooter */
   footer{
    height: 100%;
    }
   footer h3{
    margin-top: 20px;
    }

}

@media (min-width:688px) and (max-width:1050px) {

.details{
width: 90%;
margin-top: 16.3%;
}
header{
height: 700px;
}
.second-section-right-text{
margin-top: 50px;
margin-left: 50px;
}
.management-details img{
height: 550px !important;
}
.tour-details{
margin-left: 50px;
}
.country-1{
    top: 15%;
    left: 5%;
}
.country-2{
    top: 15%;
    left: 36.3%;
}
.country-3{
    top: 15%;
    left: 67%;
}
.country-4{
    top: 62%; 
    left: 5%;
}
.tours-count{
    top: 46%;
    left: 19.65%;
}
.tours-count-second{
    top: 46%;
    left: 50.85%;
}
.tours-count-third{
    top: 46%;
    left: 82.15%;
}
.tours-count-fourth{
    top: 93%;
    left: 19.65%;
}
.second-section i{
font-size: 35px;
}
.tour-info{
grid-template-columns: repeat(2, 390px);
}
.client-details{
 display: flex;
 flex-wrap: wrap;

}
.client-says{
    margin-bottom: 0 !important;
}
.second-section-right-text{
margin-left: 0%;
}
.management-details img{
    width: 350px !important;
    height: 400px !important;
    margin-top: 30px;
}
.best-place{
    grid-template-columns: repeat(3, 320px);
}
.destination-section{
    margin-top: 120px !important;
}
.blog-date{
    top: 50%;
}
.audio-play-icon{
top: 35%;
}
footer{
    height: auto;
}

}